<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Page</title>
  <style>
    #log{
      margin: 20px;
    }
  </style>
</head>
<body>
  <div id="log">
    <form action="/login" method="post">
      <input type="text" name="username" placeholder="username" autocomplete="off">
      <input type="password" name="password" placeholder="password" autocomplete="off">
      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>