<html lang="en">
<head>
  <title>Đăng ký tài khoản</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/css/form.css">
  
</head>

<body>
  <div class="container">
 
      <form id="form" method="POST" action='form'>
        <h1>Đăng ký tài khoản</h1> <br>
        <label for="Name">Họ tên</label> <br>
        <input class="square" type="text" name="name" id="Name" /> <br> <br>
        <label for="email">Email</label> <br>
        <input class="square" type="text" name="email" id="email" /><br> <br>
        <br>
        <input class="" type="radio" name="Gender" id="male" value="Nam`" /><label for="male"> Nam </label>
        <input class="" type="radio" name="Gender" id="female" value="Nữ" /><label for="female"> Nữ </label><br> <br>
        <label for="add">Điện thoại</label> <br>
        <input class="square" type="text" name="telephone" id="tel" /><br> <br>
        <label for="pass">Mật khẩu</label> <br>
        <input class="square" type="text" name="Password" id="pass" /><br><br>
        <label for="pass">Nhập lại mật khẩu</label> <br>
        <input class="square" type="text" name="password" id="repass" /><br> <br>
        <input class="square btn" type="submit" value="Đăng ký" />
      </form>
    </div>
</body>

</html>